#contenedor-titulo {
    height: 200px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 8px 8px 0 0;
}

#titulo {
    margin-left: 30px;
}

#descripcion {
    margin-left: 30px;
}

#div-descripcion {
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    border-top: 1px solid #000;
    border-radius: 0 0 8px 8px;
}

#btn-subir {
    width: 150px;
    height: 40px;
}

#div-descripcion textarea {
    resize: none;
}
