.contenedor-principal {
    width: 560px;
    height: 450px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.contenedor-secundario {
    width: 280px;
}

.mar-bot {
    margin-bottom: 30px;
}