#contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

.course {
    color: rgba(0, 0, 0, .87);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 18.375rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    text-align: left;
    width: 18.75rem;
    cursor: pointer;
}

.div-course-name {
    margin-bottom: 5px;
    height: 100px;
    border-bottom: 0.0625rem solid #dadce0;

}

.h2-course-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 20px;
}